@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

.NavBar {
    width: 100vw;
    height: 100px;
    position: absolute;
    z-index: 10;
}

.list-style .right-side {
    visibility: hidden;
}

.list-style {
    padding-left: 40px;
    padding-top: 20px;
}

.list-style li {
    display: inline;
    font-size: 25px;
    margin: 10px;
    color: red;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 789px) {
    .list-style .right-side {
        visibility: visible;
        position: absolute;
        right: 0;
        padding: 0;
        margin: 0 10px 0 0;
    }
}